[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "vendor/skia"]
	path = vendor/skia
	url = https://github.com/google/skia.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "tests/vendor/Catch2"]
	path = tests/vendor/Catch2
	url = https://github.com/catchorg/Catch2.git
